<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>关于</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div class="title"><p class="big">关于本项目</p></div>
    <div class="content">
        <p>基于深度学习搭建的情感识别系统</p>
        <a href="https://github.com/hanayashiki/FindEmotionFromImages">Git 仓库</a><br/>
        <a href="https://github.com/hanayashiki/FindEmotionFromImages/blob/master/test_module_resnet_no_top.py">现采用模型</a>
        <p>学习Resnet卷积层输出特征和HSV色表特征进行图片情感分类，测试集上准确率达到85%。</p>
        <button class="submit-button" onclick="{location.href='/'}">返回</button>
    </div>
</body>
</html>